<%- include('partials/header.ejs'); -%>


<div class="form-group">
<h1>Compose</h1>
<form class="" action="/compose" method="post">
  <label for="">Title</label> <br>
  <input class="form-control" type="text" name="newDiary" value=""><br>
  <label for="">Post</label><br>
  <textarea class="form-control" name="diary" rows="8" cols="80"></textarea><br>
  <button class= "btn rowbtn" type="submit" name="button">Publish</button>
</form>
</div>

<%- include('partials/footer.ejs'); -%>
